# Python cache
__pycache__/
*.pyc

# build files
dist/*

# Virtual envs
venv/
.venv/

# Data files
!data/input_batch_iris.csv
data/*.csv
tests/test_data/*

# Pytest Caches
.pytest_cache
.coverage

# Model artifacts
artifacts/*.pkl

# Logs
logs/*

# OS 
.DS_Store


# Docker
*.log
*.pid
